---
layout: layout.njk
---

<div class="all-episodes-wrap">
  <h1>All episodes</h1>
  <ul>
    {% for item in collections.podcasts | reverse %}
    <li>  
      <p>
        <a class="all-ep-a" href="/episodes/{{ item.data.episode }}/index.html">
          <span class="ep-num">{{item.data['id3-track'] | parseInt }}.</span> {{ item.data.title }}</a>
      </p>
    </li>
  {% endfor %}
  </ul>
</div>