:root {
	--black: #333;
	--grey: #cacaca;
	--white: #efefef;
	--font: 1.5rem Roboto, "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.wrap {
	font: var(--font);
	min-height: 100vh;
	display: grid;
	grid-template-areas: 
		"main sidebar"
		"footer footer";
  background: linear-gradient(to bottom, var(--black) 85%, var(--grey) 100%);
}

#main {
	grid-area: main;
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
}
#h-gang-bold {
	width: 450px;
	margin: 6rem 2rem 2rem 2rem;
}
.buttons a {
	text-decoration: none;
}
#sidebar {
	grid-area: sidebar;
	margin: 6rem 2rem 0 0;
	max-width: 750px;
}
#about-us {
	color: var(--white);
	padding-top: 2rem;
	padding-bottom: 2rem;
	border-top: 1px solid var(--white);
	border-bottom: 1px solid var(--white);
	line-height: 2.4rem;
	font: var(--font);
	font-size: 1.5rem;
	min-width: 515px;
}
#about-us h2 {
	font: 3rem Simonetta;
}
#episode-box,
.all-episodes-wrap {
	font: var(--font);
	color: var(--white);
	margin: 2rem 0;
}

#episode-box ul,
.all-episodes-wrap ul {
	background-color: rgba(255,255,255,0.1);
	padding: .75rem;
	margin: 1.5rem 0 1.5rem 0;
}

#episode-box ul li,
.all-episodes-wrap ul li {
	margin: 2rem 0;
}
#episode-box ul li:first-of-type,
.all-episodes-wrap ul li:first-of-type {
	margin: 0;
}

.episode-link,
.all-episodes-wrap ul li p {
	font: 1.5rem Simonetta;
}
.ep-num {
	font: var(--font);
	font-size: 1.25rem;
}
.ep-date {
	font: var(--font);
	font-size: .85rem;
}
.episode-link a,
.episode-link a:visited
.all-ep-a,
.all-ep-a:visited {
	color: white;
	transition: all 0.5s;
}

.episode-link a:hover,
.episode-link a:focus,
.all-ep-a:hover,
.all-ep-a:focus {
	color: orange;
}

/* NEXT PAGE*/
#episode-main {
  min-height: 100vh;
  background-color: orange;
	color: var(--black);
	/* width: 100%; */
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
	justify-content: center;
	position: relative;
}

#episode-main * {
	margin: 2rem 0;
	font: 4rem Simonetta;
	max-width: 95%;
	text-align: center;
	
}

#emoji {
	font-size: 11rem;
	position: fixed;
	bottom: -6rem;
	left: -3rem;
	transform: rotate(45deg);
}

/* @media screen and (min-width: 600px) {
	#episode-main p {
		max-width: 80%;
	}
}
@media screen and (min-width: 750px) {
	#episode-main p {
		max-width: 70%;
	}
}
@media screen and (min-width: 900px) {
	#episode-main p {
		max-width: 60%;
	}
}
@media screen and (min-width: 1050px) {
	#episode-main p {
		max-width: 50%;
	}
} */

.all-episodes-wrap {
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	padding-top: 4rem;
	background: linear-gradient(to bottom, var(--black) 85%, var(--grey) 100%);
	min-height: 100vh;
}

.all-episodes-wrap h1 {
	font: 3rem Simonetta;
	color: var(--white);
}
.all-episodes-wrap ul {
	width: 50%;
	min-width: 350px;
}
.all-ep-a {
	color: var(--white);
}

@media screen and (max-width: 1030px) {
	.wrap {
		grid-template-areas: 
		"main"
		"sidebar"
		"footer";
		background: linear-gradient(to bottom, var(--black) 97%, var(--grey) 100%);
	}
	#sidebar {
		margin: unset;
		max-width: unset;
		padding-top: 6rem;
		display: flex;
		flex-flow: column nowrap;
		width: 100%;
		align-items: center;
	}
}

@media screen and (max-width: 600px) {
	#h-gang-bold {
		width: 90%;
		margin: 4rem 0 2rem 0;
	}
	#sidebar {
		text-align: center;
	}
	#about-us {
		min-width: unset;
	}
	.buttons {
		display: flex;
		flex-flow: column nowrap;
		align-items: center;
	}
}