
<ul>
  {% for item in collections.podcasts | reverse | limit(7) %}
  <li>
    <p class="episode-link">
      <a href="/episodes/{{ item.data.episode }}/index.html">
        <span class="ep-num">{{item.data['id3-track'] | parseInt }}.</span> {{ item.data.title }}
      </a>
      <p class="ep-date">{{item.data.date | readableDate}}</p>
    </p>
  </li>
{% endfor %}
</ul>
