<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="A podcast of non-sequiturs from Howard Chicken" />
    <meta name="" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="alternate" type="application/rss+xml" title="Quotes from Howard Chicken" href="/pod.xml"/>
    <title>Howard the Podcast</title>
    <!-- capture the CSS content as a Nunjucks variable -->
    {% set css %}
      {% include "all.css" %}
    {% endset %}
    <!-- feed it through our cssmin filter to minify -->
    <style>
      {{ css | cssmin | safe }}
    </style>
  </head>
  <body>
    {{ content | safe }}
  </body>
</html>
